<!DOCTYPE html>

<head>
    <title> Welcome to Dashboard </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/ry-3jque.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="page.css">
    <style type="text/css">

    </style>
</head>

<body>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"><br>
                    <button class="btn btn-success" style="padding-left: 5%; padding-right: 5%;">Dashboard</button><br>
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Modules
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="viewProfile"><button class="btn btn-success">View
                                        Profile</button></a></li><br>
                            <li><a href="resetPassword"><button class="btn btn-success">Reset
                                        Password</button></a></li><br>
                            <li><a href="contact"><button class="btn btn-success">contact us</button></a></li><br>
                            <li><a href="/category"><button class="btn btn-success">category</button></a></li><br>
                            <li><a href="testimonial"><button class="btn btn-success">testimonial</button></a></li><br>
                            <li><a href="portfolio"><button class="btn btn-success">portfolio</button></a></li><br>
                            <li><a href="logout" onclick="return confirm('Are you sure you want to logout?')">
                                    <button class="btn btn-success">log out</button></li>

                        </ul>
                    </div>


                </div>
                <div class="col-md-9"><br>
                    <h1>Welcome to the admin panel.</h1>
                </div>
            </div>
        </div>
    </section>
</body>

</html>